#logo_text {
    font-family: 'Montserrat', sans-serif;
    color: #F0F2F1;
    background-color: #231F25;
    border-radius: 5px;
    width: fit-content;
    font-size: 40px;
    font-weight: bolder;
    padding: 0px 10px 0px 10px;
    margin-left: 20px;
    position: relative;
    top: 25px;
}

* {
    margin: 0px;
    box-sizing: border-box;
}

header {
    background-color: #f0f2f1;
    width: 100%;
    margin-top: 0px;
    height: 100px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    justify-content: space-between;
    text-align: right;
}

.navbar ul{
    list-style-type: none;
    position: relative;
    bottom: 12px;
    margin-right: 20px;
}

.navbar li{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 0.5px;
    display: inline-block;
    transition: 0.3s;
}

.navbar a{
    color: #231f25;
    text-decoration: none;
    padding: 0px 10px 0px 10px;
}

.navbar li:hover{
    width: max-content;
    transition: 0.3s; 
    transform: translateY(-5px);
    cursor: pointer;
}

.main {
    top: 51px;
    position: inherit;
    background-color: #f0f2f1;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    align-items: center;

}

.text_title h1{
    font-family: 'Montserrat', sans-serif;
    color: #231f25;
    font-size: 40px;
    text-align: center;
    margin-top: 40px;
    font-weight: 700;
}

.container{
    margin: 30px 20px 30px 20px;
    width: 500px;
    border-radius: 20px;
    background-color: #231F25;
    justify-content: center;
    display: flex;
    align-items: center;
}

.contact-information {
    color: #F0F2F1;
    margin: 10px 20px 10px 20px;
}

.contact-information i{
    font-size: 40px;
    margin: auto;
    display: block;
}


.email {
    margin: 20px 0px 20px;
    font-size: 20px;
    align-items: center;
    display: flex;
}

.email i{
    transition: transform 0.3s;
}

.email i:hover{
    transform: translateY(-5px);
    transform: transform 0.3s;
}

.email p{
    margin-left: 10px;
}

.email a{
    text-decoration: none;
    color: #F0F2F1;
}

.phone {
    margin: 20px 0px 20px;
    font-size: 20px;
    display: inline-flex;
    display: flex;
    float: left;
    margin-right: 20px;
}

.phone p{
    margin-left: 10px;
    align-items: center;
    display: flex;
}

.instagram {
    margin: 20px 0px 20px;
    font-size: 20px;
    display: inline-flex;
    display: flex;
    float: left;
}

.instagram p{
    margin-left: 10px;
    align-items: center;
    display: flex;
}

.instagram a{
    text-decoration: none;
    color: #F0F2F1;
}

.instagram i{
    transition: transform 0.3s;
}

.instagram i:hover{
    transform: translateY(-5px);
    transform: transform 0.3s;
}

footer{
    background-color: #85857A;
    height: 60px;
    flex-shrink: 0;
}

.text_name {
    font-family: 'Montserrat', sans-serif;
    color: #f0f2f1;
    font-size: 20px;
    font-weight: 400;
    position: relative;
    top: 20px;
}

.text_name p {
    text-align: center;
}
